.main {
    width: 100%;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.filter {
    height: 100%;
    position: sticky;
    top: 0;
}

.spinner {
    color: #A52838;
    margin-top: 0.125rem;
    animation: spin 1s linear infinite;
    margin: 50px 0px 0px 480px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

